body {
  background-color: #DEDEDE;
}

.card:hover {
  background-color: #DEDEDE;
}

.card .material-icons {
  font-size: 6rem;
}

img.como-funciona {
  transition: 1s;
}

img.como-funciona:hover {
  transform: rotateY(180deg);
  transition: 1s;
}
